@model HomeModel //comando para a view ter contato com a model. Lendo o conteudo dela

@{
    ViewData["Title"] = "Página Inicial";
}
<style>

    .professores {
        background-color: #49052a;
        margin-top: 0px;
        padding: 40px;
    }

    .professores h2{
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        color: white;
        margin-bottom: 30px;
    }

    .professores p{
        text-align: center;
        color: white;
    }

    .gallery-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .gallery-item {
        text-align: center;
        margin: 10px;
        width: 150px;
    }

    .gallery-item img {
        width: 100%;
        height: auto;
        border-radius: 85%;
    }

    .description {
        margin-top: 5px;
        font-size: 14px;
        color: white;
    }

    #fotoinicial{        
        margin: 0px;
        padding: 0px;
    }

    #fotoinicial img {
        width: 100%;          /* Faz a imagem ocupar 100% da largura do contêiner */
        height: auto;         /* Mantém a proporção original da imagem */
        object-fit: cover;    /* Cobre todo o contêiner, mantendo a proporção */
    }

    .indicacao{
        background-color: #49052a;
        margin: 0px;
        padding: 20px;
    }

    .indicacao h1{
        color: white;
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
    }

    .indicacao p{ 
        padding: 10px;
        color: white;
        font-size: 1rem;
        text-align: justify;
    }

    hr {
        border: none;
        height: 1px;
        background-color: white;
    }

    .cursos{
        padding: 10px;
    }

    .cursos h1{
        color: #49052a;
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 50px;
    }
    
</style>

<div id="fotoinicial">
    <img src="@Url.Content("~/Images/Focus_banner_index.svg")">
</div>

<!-- Indicação -->
<div class="indicacao">
    <h1>Focus Academy, seu futuro começa aqui!</h1>
    <p>Na Focus Academy, nossa missão é transformar o aprendizado em uma experiência 
         e eficaz. Somos uma instituição especializada em cursos preparatórios para o ENEM e 
         reforço escolar, dedicada a ajudar estudantes a alcançar seus objetivos acadêmicos e
          realizar seus sonhos.
    </p>
    <p>A Focus Academy é uma escola preparatória para o ENEM e outros vestibulares, que também oferece
         reforço escolar, valorizando a qualidade do ensino e o atendimento personalizado. A escola
          adota uma metodologia que privilegia a proximidade entre professor e aluno, com turmas
           reduzidas e horários flexíveis, de segunda a sexta-feira e aos sábados. Este ambiente focado
            e acolhedor garante que cada aluno receba a atenção necessária para alcançar o melhor
             desempenho, seja nos vestibulares ou nas atividades de reforço escolar.
    </p>
    <hr>
</div>

<div class="professores">
    <h2>Conheça nossos professores!</h2>
<!-- Fotos dos professores -->
        <div class="gallery-container">
            <div class="gallery-item">
                <img src="@Url.Content("~/Images/prof1.svg")" alt="Profº Jorge Simião">
                <div class="description">Profº Jorge Simião</div>
            </div>
            <div class="gallery-item">
                <img src="@Url.Content("~/Images/prof2.svg")" alt="Profº Alberto Vicente">
                <div class="description">Profº Alberto Vicente</div>
            </div>
            <div class="gallery-item">
                <img src="@Url.Content("~/Images/prof3.svg")" alt="Profª Juliana Nobrega">
                <div class="description">Profª Juliana Nobrega</div>
            </div>
            <div class="gallery-item">
                <img src="@Url.Content("~/Images/prof4.svg")" alt="Profº Thalles Gusman">
                <div class="description">Profº Thalles Gusman</div>
            </div>
            <div class="gallery-item">
                <img src="@Url.Content("~/Images/prof5.svg")" alt="Profº Francisco Celestino">
                <div class="description">Profº Francisco Celestino</div>
            </div>
        </div>

        <p>Temos o orgulho de contar com uma equipe de professores altamente 
            qualificados e dedicados. Cada um traz uma vasta experiência e paixão pelo ensino, criando 
            um ambiente de aprendizado estimulante e acolhedor. Comprometidos com o desenvolvimento 
            integral dos alunos, nossos educadores oferecem um ensino personalizado e atual, sempre em 
            sintonia com as melhores práticas pedagógicas. Nossos professores são, sem dúvida, a base do 
            nosso sucesso educacional.</p>
</div>

<!-- Seção de Cursos -->
<div class="cursos">
    <div class="container mt-5">
        <h1>Confira nossos cursos!</h1>
        <div class="d-flex flex-wrap justify-content-around">
            <!-- curso reforço 1 -->
            <div class="card mb-4" style="width: 18rem;">
                <img class="card-img-top" src="~/Images/3.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Reforco - Infantil</h5>
                    <p class="card-text">Nosso Curso de Reforço Infantil foi desenvolvido para oferecer apoio adicional nas áreas essenciais do conhecimento, ajudando os pequenos a superar desafios e fortalecer suas habilidades. Com atividades dinâmicas e abordagens personalizadas, nossos programas são projetados para tornar o aprendizado divertido e eficiente, garantindo que cada criança desenvolva confiança e competência em suas matérias escolares.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Curso de Ciências Infantil</li>
                    <li class="list-group-item">Curso de Geografia Infantil</li>
                    <li class="list-group-item">Curso de História Infantil</li>
                    <li class="list-group-item">Curso de Português Infantil</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Matricule-se</a>
                </div>
            </div>

            <!-- curso reforço 2 -->
            <div class="card mb-4" style="width: 18rem;">
                <img class="card-img-top" src="~/Images/2.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Reforço - Ensino Médio</h5>
                    <p class="card-text">O ensino médio é um período crucial para o desenvolvimento acadêmico e a preparação para o futuro. Nosso Curso de Reforço para Ensino Médio oferece uma abordagem personalizada e eficaz para ajudar os estudantes a superar dificuldades e fortalecer seus conhecimentos em disciplinas chave. Com um conteúdo abrangente e técnicas de ensino inovadoras, proporcionamos suporte adicional que vai além do que é abordado em sala de aula. </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Redação</li>
                    <li class="list-group-item">Geografia</li>
                    <li class="list-group-item">Literatura</li>
                    <li class="list-group-item">Química</li>
                    <li class="list-group-item">Matemática</li>
                    <li class="list-group-item">História</li>
                    <li class="list-group-item">Leitura e Interpretação de Textos</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Matricule-se</a>
                </div>
            </div>

            <!-- curso reforço 3 -->
            <div class="card mb-4" style="width: 18rem;">
                <img class="card-img-top" src="~/Images/1.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Preparação Vestibular</h5>
                    <p class="card-text">Manter-se atualizado e bem preparado é essencial para garantir uma excelente performance nos exames vestibulares e abrir portas para oportunidades acadêmicas e profissionais. Com o nosso Curso Preparatório para Vestibular, você terá a chance de expandir seus conhecimentos, aprimorar suas habilidades e se familiarizar com as últimas tendências e exigências dos principais exames.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Orientação Vocacional e Psicológica</li>
                    <li class="list-group-item">Geometria</li>
                    <li class="list-group-item">Literatura Brasileira</li>
                    <li class="list-group-item">História Geral</li>
                    <li class="list-group-item">Biologia</li>
                    <li class="list-group-item">Algebra</li>
                    <li class="list-group-item">Financeiro</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">MATRICULE-SE</a>
                </div>
            </div>
        </div>
    </div>
</div>